<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/assets/templates/vegan2020/css")
    @Scripts.Render("~/bundle/modernizr")

</head>
<body>

    <div class="container-fluid">

        <nav>
            @RenderPage("_NavigationBarAdmin.cshtml")
        </nav>

        <div class="container-fluid body-content">
            <br />
            @RenderBody()
        </div>


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
