@using Newtonsoft.Json
@model Vegan.Web.Models.ECommerce.Cart

@{
    ViewBag.Title = "Shopping Cart";
}
<table class="table">
    <thead class="text-primary">
        <tr>
            <th>Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Sub Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.Name</td>
                <td class="text-right">$@((item.Price).ToString("0.00"))</td>
                <td class="text-right">@item.Quantity</td>
                <td class="text-right">$@(((item.Price * item.Quantity)).ToString("0.00"))</td>
                <td class="text-right">
                    @using (Html.BeginForm("Delete", "ECommerce", FormMethod.Post))
                    {
                        @Html.Hidden("ProductId", item.ProductId)
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    }
                </td>
            </tr>
        }
        @if (!Model.CartItems.Any())
        {

            <tr>
                <td colspan="5">No items in shopping cart</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"><strong>Total</strong></td>
            <td class="text-right"><strong>$@((Model.CartItems.Sum(x => x.Price * x.Quantity)).ToString("0.00"))</strong></td>
            <td></td>
        </tr>
    </tfoot>
</table>


@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@
@*=====================================================================================================================================*@




<div id="top" pxlurl="[product_url]">


    <div class="contentbox-wrapper">
        <div class="contentbox">




            <style type="text/css">
                #simplemodal-container {
                    border: none !important;
                    background: none !important;
                    overflow-y: visible;
                }

                #divBusy {
                    display: none;
                    background-image: url(admin/templates/images/ajax-loader.gif);
                    width: 32px;
                    height: 32px;
                    margin: auto;
                    z-index: 999;
                    position: absolute;
                    top: 40px;
                    left: 50%;
                }
            </style>

            <div id="pageheader" class="docsection-wrapper">
                <div class="docsection boxed">
                    <div class="breadcrumbs-wrapper clearfix">
                        <div class="breadcrumbs">
                            <section>
                                <p><a href="/">Home</a> > Shopping Cart</p>
                            </section>
                        </div>
                    </div>
                    <div class="title-wrapper clearfix">
                        <div class="title">
                            <div>
                                <h1>My Shopping Cart</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="updateback" class="docsection-wrapper">
                <div class="docsection boxed">
                    <a href="./">Continue Shopping</a>
                </div>
            </div>
            <div id="shoppingcart" class="docsection-wrapper">
                <div class="docsection boxed">
                    <section id="viewCart">
                        <form action="shipquote.asp" method="post" name="shipquote" onSubmit="return submitForm();">
                            <input type="hidden" name="thispage" value="" />
                            <input type="hidden" name="shipping_zip" value="[shipping_zip]" />
                            <script type="text/javascript">document.shipquote.thispage.value = window.location.href;</script>
                        </form>
                        <form action="recalculate.asp" method="post" name="recalculate" id="recalculate">

                            <div class="updatebtn updatebtn-top">
                                <div style="min-height: 60px;"><a style="display: none;" class="btn btn-small update-qty" href="#" onclick="document.forms['recalculate'].submit();return false;">Update Cart</a></div>
                            </div>
                            <div class="shoppingCartItems" id="divshoppingCartItems">
                                <div class="titles2">
                                    <div class="item-info">ITEMS</div>
                                    <div class="item-qty">QTY</div>
                                    <div class="item-price">PRICE</div>
                                    <div class="item-total">TOTAL</div>
                                    <div class="item-remove"></div>
                                </div>


                                @foreach (var item in Model.CartItems)
                                {
                                    <div class="row">
                                        <div class="item-info">

                                            @*<tr>
                            <td>@item.Name</td>
                            <td class="text-right">$@((item.Price).ToString("0.00"))</td>
                            <td class="text-right">@item.Quantity</td>
                            <td class="text-right">$@(((item.Price * item.Quantity)).ToString("0.00"))</td>
                            <td class="text-right">
                                @using (Html.BeginForm("Delete", "ECommerce", FormMethod.Post))
                                {
                                    @Html.Hidden("ProductId", item.ProductId)
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                }
                            </td>
                        </tr>*@


                                            <div class="product-image">
                                                <a href="#"><img src="@item.ImageUrl" /></a>
                                            </div>
                                            <div class="product-name-options">
                                                <div>
                                                    <div>
                                                        <a href="#">@item.Name</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @using (Html.BeginForm("Add", "ECommerce", FormMethod.Post))
                                        {
                                            @Html.Hidden("ProductId", item.ProductId)
                                            <div>
                                                <div class="item-qty">
                                                    <input type="number" step="1" min="1" max="3" size="3" value="@item.Quantity" style="width:50px" />
                                                </div>

                                            </div>
                                        }
                                        <div class="item-price">
                                            @string.Format(@System.Globalization.CultureInfo.CurrentCulture = @System.Globalization.CultureInfo.CreateSpecificCulture("gr-GR"), "{0:c2}", item.Price)

                                        </div>


                                        <div class="item-total">
                                            @string.Format(@System.Globalization.CultureInfo.CurrentCulture = @System.Globalization.CultureInfo.CreateSpecificCulture("gr-GR"), "{0:c2}", (item.Price * item.Quantity))
                                        </div>


                                        @using (Html.BeginForm("Delete", "ECommerce", FormMethod.Post))
                                        {
                                            @Html.Hidden("ProductId", item.ProductId)
                                            <div class="item-remove">
                                                <button type="submit" class="btn"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            </div>
                                        }
                                    </div>


                                    <div class="updatebtn updatebtn-btm">
                                        <div><a class="btn btn-small update-qty" href="#" onclick="document.forms['recalculate'].submit();return false;">Update Cart</a></div>
                                    </div>
                                }















                                <div class="shoppingCartTotal">
                                    <div class="clearfix">
                                        <div class="item-total-label">Subtotal</div>
                                        <div class="item-total-value">$5.00</div>

                                        <div class="item-total-label"><strong>TOTAL</strong></div>
                                        <div class="item-total-value item-total-total"><strong>$5.00</strong></div>
                                    </div>
                                    <div id="ChkButtonWrap">
                                        <div class="form-group">
                                            <label>In-line Checkout Experience</label>
                                            <p>
                                                <a href="@Url.Action("Checkout", "ECommerce")" class="btn btn-warning">Checkout with PayPal</a>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label>Popup Checkout Experience</label>
                                            <form id="myContainer" method="post" action="@Url.Action("Checkout", "ECommerce")"></form>
                                            <script>
                                                window.paypalCheckoutReady = function () {
                                                    paypal.checkout.setup('BRKKN32NLUD56',
                                                        {
                                                            environment: 'sandbox',
                                                            container: 'myContainer'
                                                        });
                                                };</script>
                                            <script src="//www.paypalobjects.com/api/checkout.js" async></script>
                                        </div>
                                        @*<span id="ChkButton"><button type="button" onclick="window.location='checkout.asp?step=1'" id="vc_ChkButton" class="btn">CHECKOUT</button></span>*@
                                    </div>
                                    <span>Note: Total does not include tax, shipping, and handling rates. These will be calculated during check out.</span>
                                </div>
                            </div>





















                            @*<div class="col-md-12" style="padding-bottom:5%; ">



                                <div class="form-group">
                                    <label>In-line Checkout Experience</label>
                                    <p>
                                        <a href="@Url.Action("Checkout", "ECommerce")" class="btn btn-warning">Checkout with PayPal</a>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Popup Checkout Experience</label>
                                    <form id="myContainer" method="post" action="@Url.Action("Checkout", "ECommerce")"></form>
                                    <script>
                                        window.paypalCheckoutReady = function () {
                                            paypal.checkout.setup('BRKKN32NLUD56',
                                                {
                                                    environment: 'sandbox',
                                                    container: 'myContainer'
                                                });
                                        };</script>
                                    <script src="//www.paypalobjects.com/api/checkout.js" async></script>
                                </div>



                            </div>*@


























                            <div class="updatebtn updatebtn-btm">
                                <div><a class="btn btn-small update-qty" href="#" onclick="document.forms['recalculate'].submit();return false;">Update Cart</a></div>
                            </div>

                            <div class="applyCoupon pad10 boxShadow">
                                <div class="header">
                                    <h3 class="checkout-headers">Apply Coupon</h3>
                                </div>
                                <div class="coupon-msg">If you have a promotion code enter it here.</div>
                                <input type="text" name="coupon_code" class="txtBoxStyle" size="14" />

                                <input type="submit" value="Apply" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" />
                            </div>



                            <div class="shipQuoteInt pad10 boxShadow">
                                <div class="header">
                                    <h3 class="checkout-headers">Calculate Shipping</h3>
                                </div>
                                <div class="shipquoteint-msg">Enter zip code to calculate shipping.</div>
                                <script type="text/javascript" src="state_countryjs.asp"></script>
                                <script type="text/javascript">
                                    function get_Element(i) {
                                        return document.getElementById(i) || document.getElementsByName(i).item(0);
                                    }
                                    function getInternationalQuote() {
                                        var strAction = "shipquote.asp?shipping_country=" + get_Element("shipping_country").value;
                                        strAction = strAction + "&shipping_state=" + get_Element("shipping_state").value;
                                        document.shipquote.action = strAction;
                                        document.shipquote.shipping_zip.value = document.recalculate.shipping_zip.value
                                        document.shipquote.submit();
                                    }
                                </script>
                                <div class="shipquoteint-location">
                                    <select name="shipping_country" onchange="this.form.shipping_zip.value = ''; populateState('shipping_state', 'shipping_country', '', undefined, '');" class="txtBoxStyle" id="shipping_country"></select>
                                    <select id="shipping_state" onchange="this.form.shipping_zip.value='';" name="shipping_state" class="txtBoxStyle"></select>
                                </div>
                                <div class="shipquoteint-action">
                                    <input type="text" name="shipping_zip" size="14" value="" class="txtBoxStyle" id="calculate_shipping_zip" />
                                    <input type="button" value="Calculate" class="btn" onclick="getInternationalQuote();" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" id="calculate_button_go" />
                                </div>

                            </div>


                        </form>
                        <script type="text/javascript">
                            //You should create the validator only after the definition of the HTML form
                            var frmvalidator = new Validator("recalculate");

                            frmvalidator.setAddnlValidationFunction("submitForm");

                            //<!--START: apply_coupon_validation-->
                            frmvalidator.addValidation("coupon_code", "maxlen=20", "Maximun Coupon Length is 20");
                            //<!--END: apply_coupon_validation-->
                        </script>

                        <div class="displayPromotions pad10 boxShadow">
                            <div class="header">
                                <h3 class="checkout-headers">Valid Promotions</h3>
                            </div>

                            <form method="post" action="recalculate.asp?apply_coupon=2" name="couponapply" class="couponapply">
                                <input type="hidden" name="coupon" value="137" />
                                <div class="promo-name">Your green kitchen</div>
                                <div class="promo-desc"><strong>Valid from: 5/4/2020 - 5/31/2020</strong></div>
                                <div class="promo-remove">

                                </div>
                            </form>

                        </div>



                    </section>
                </div>
            </div>
            <script type="text/javascript">
                //Show/Hide 3rd Party Payment Options section.
                jQuery(function () {
                    if (jQuery('#thirdPartyPayment').has('div').length == 0) {
                        jQuery('.third-party-payment').hide();
                    }
                    else {
                        jQuery('.third-party-payment').show();
                    }
                });
            </script>

            <div id="divGiftWrap">
                <form method="post" name="frmGiftWrap" id="frmGiftWrap">
                    <div class="header">
                        <h3>Gift Wrapping Options</h3>
                    </div>
                    <label for="giftwrap_id">Select Gift Wrapping:</label>
                    <select id="giftwrap_id" name="giftwrap_id" class="txtBoxStyle" onchange="updateGiftWrapOption()">
                        <option value="">-- Select Gift Wrapping --</option>
                    </select>
                    <div id="divGiftwrapItem">

                        <div class="gw-image" id="giftwrap_thumb"></div>
                        <div class="gw-id"></div>
                        <div class="gw-name"></div>
                        <div class="gw-desc"></div>

                    </div>
                    <div id="divGiftwrapMsg">
                        <label for="giftwrap_message">Giftcard Message:</label>
<textarea name="giftwrap_message" id="giftwrap_message" onkeyup="countChar(this)" rows="6" cols="45"></textarea>
                        <div class="chars-left"><span id="spnChars">400</span>&nbsp;Characters left</div>
                    </div>
                    <input type="button" name="cmdGWCancel" id="cmdGWCancel" value="Cancel" onclick="cmdGWCancel_Click()" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" />
                    <input type="button" name="cmdGWAdd" id="cmdGWAdd" value="Add Giftwrap" onclick="cmdGWAdd_Click()" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" />
                </form>
            </div>


            <script type="text/javascript">
                initCountry("CA", "", "shipping_state", "shipping_country", "Province");
            </script>





        </div>
    </div>
    <div class="footerbox-wrapper">
        <div class="footerbox">
            <div id="footernav">
                <div class="boxed">
                    <ul class="pages">
                        <li>
                            <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>OUR STORY</span>
                            <ul>
                                <li><a href="https://www.the-apothecary.ca/meet-our-team.html">Meet Our Team</a></li>
                                <li><a href="https://www.the-apothecary.ca/mission_statement.html">Mission Statement</a></li>
                                <li><a href="https://www.the-apothecary.ca/employment.html">Employment</a></li>
                                <li class="news"><a href="https://www.the-apothecary.ca/blog.asp">Blog</a></li>
                            </ul>
                        </li>
                        <li>
                            <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>KNOWLEDGE</span>
                            <ul>
                                <li><a href="https://www.the-apothecary.ca/Classes_c_92.html">Classes</a></li>
                                <li><a href="https://www.the-apothecary.ca/Books_c_93.html">Books</a></li>
                                <li><a href="https://www.the-apothecary.ca/What-is-Aromatherapy_ep_46.html">What is Aromatherapy</a></li>
                                <li><a href="https://www.the-apothecary.ca/What-is-an-Essential-Oil_ep_47.html">What is an Essential Oil</a></li>
                                <li><a href="https://www.the-apothecary.ca/therapeutic-grade-defined_ep_50.html">Therapeutic Grade Defined</a></li>
                                <li><a href="https://www.the-apothecary.ca/Storing-Essential-Oils_ep_48.html">Storing Essential Oils</a></li>
                                <li><a href="https://www.the-apothecary.ca/Uses-of-Essential-Oils_ep_44.html">Uses of Essential Oils</a></li>
                            </ul>
                        </li>
                        <li>
                            <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>CUSTOMER SERVICE</span>
                            <ul>
                                <li><a href="https://www.the-apothecary.ca/shipping_information.html">Shipping Information</a></li>
                                <li><a href="https://www.the-apothecary.ca/return_policy.html">Return Policy</a></li>
                                <li><a href="https://www.the-apothecary.ca/faq.html">FAQ</a></li>
                                <li><a href="https://www.the-apothecary.ca/Gift-Certificates_p_12.html">Gift Certificates</a></li>
                                <li><a href="https://www.the-apothecary.ca/crm.asp?action=contactus">Contact Us</a></li>
                                <li><a href="https://www.the-apothecary.ca/store_hours.html">Store Hours</a></li>
                            </ul>
                        </li>
                        <li>
                            <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>ACCOUNT</span>
                            <ul>
                                <li><a href="https://www.the-apothecary.ca/myaccount.asp">Login</a></li>
                                <li><a href="https://www.the-apothecary.ca/myaccount.asp">Dashboard</a></li>
                                <li><a href="https://www.the-apothecary.ca/ordertracking.asp">Recent Orders</a></li>
                                <li><a href="https://www.the-apothecary.ca/view_wishlist.asp">Wish List</a></li>
                                <li><a href="https://www.the-apothecary.ca/gc_view.asp">Gift Certificates</a></li>

                            </ul>
                        </li>
                        <li>
                            <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>WHOLESALE</span>
                            <ul>
                                <li><a href="https://wholesale.allthingsjill.ca">Become a Wholesaler</a></li>
                                <li><a href="https://wholesale.allthingsjill.ca">Wholesale Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="footerbar">
                <div class="boxed">
                    <a class="phone" href="callto:+14034530313"><i class="fa fa-phone-square" aria-hidden="true"></i> 403-453-0313</a>
                    <ul class="social">
                        <li><a href="http://www.facebook.com/apothecary.inglewood" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> <span>Facebook</span></a></li>
                        <li><a href="http://twitter.com/ApothecaryYYC" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>
                        <li><a href="http://www.instagram.com/apothecaryyyc/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> <span>Instagram</span></a></li>
                    </ul>
                    <a class="newsletter" href="https://www.the-apothecary.ca/Join-the-AromaticLife-_ep_59-1.html"><i class="fa fa-paper-plane" aria-hidden="true"></i> <strong>SUBSCRIBE</strong> TO THE <span>#AromaticLife</span> NEWSLETTER</a>
                </div>
            </div>
            <div id="disclaimer">
                <div class="boxed">
                    <footer>

                        <p><strong>Disclaimer:</strong> The Apothecary in Inglewood is not a pharmacy, nor does it offer any pharmacy related services. The information provided here is for educational purposes only and is not intended as diagnosis, treatment, cure or prescription of any kind. The decision to use, or not to use, any information is the sole responsibility of you, the individual. We recommend that you consult your primary health care provider before using alternative healing methods or products.</p><p>Zero waste home, Refillery, Pure Essential Oils, Bath & Body, Wellness Products in Calgary, Alberta, Canada</p>
                        <p>
                            <i class="fa fa-copyright"></i> Copyright
                            <script type="text/javascript" language="javascript">var date = new Date(); document.write(date.getFullYear())</script> The Apothecary in Inglewood. All Rights Reserved. <span>Web Design by <a href="http://pixelscience.ca" target="_blank">Pixel Science</a></span>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="stats">

    <script type="text/javascript">
        //<![CDATA[
        var file = '/stats/count.asp';
        var stats_d = new Date();
        var stats_s = stats_d.getSeconds();
        var stats_m = stats_d.getMinutes();
        var stats_x = stats_s * stats_m;
        var prdID = '[catalogid]';
        var catID = '[catid]';
        stats_f = '' + escape(document.referrer); stats_f = stats_f.replace('_', '----');
        if (navigator.appName == 'Netscape') { stats_b = 'NS'; }
        if (navigator.appName == 'Microsoft Internet Explorer') { stats_b = 'MSIE'; }
        if (navigator.appVersion.indexOf('MSIE 3') > 0) { stats_b = 'MSIE'; }
        stats_u = '' + escape(document.URL); stats_u = stats_u.replace('_', '----'); stats_w = screen.width; stats_h = screen.height;
        stats_v = navigator.appName;
        stats_fs = window.screen.fontSmoothingEnabled;
        if (stats_v != 'Netscape') { stats_c = screen.colorDepth; }
        else { stats_c = screen.pixelDepth; }
        stats_j = navigator.javaEnabled();
        info = 'w=' + stats_w + '&h=' + stats_h + '&c=' + stats_c + '&r=' + stats_f + '&u=' + stats_u + '&fs=' + stats_fs + '&b=' + stats_b + '&x=' + stats_x + '&cat=' + catID + '&prd=' + prdID;
        document.write('<img src="' + file + '?' + info + '" width="1" height="1" border="0" alt="stats" />');
        //]]>
    </script>
    <noscript>
        <img src="/stats/count.asp" width="90" height="30" alt="" />
    </noscript>

</div>
<script type="text/javascript">var _cart_secure_url = "https://www.the-apothecary.ca"</script>
<script>(new Image()).src = 'https://www.the-apothecary.ca/3dvisit.asp'</script>
