@model IEnumerable<Vegan.Entities.Home.Candle>

@{
    ViewBag.Title = "Vegan Candles";
    Layout = "~/Views/Shared/Components/User/_LayoutUser.cshtml";
}


    <div id="top" pxlurl="[product_url]">

        <div id="curtain"></div>
        <div class="headerbox-wrapper">
            <div class="headerbox">
                <div id="mainmenu">
                    <div>
                        <nav id="nav-categories">
                            <span class="nav-btn"><i class="fa fa-bars" aria-hidden="true"></i> Shop</span>

                            <ul id="desktopMenu" class="categories">
                                <li>
                                    <a href="Shop-By-Brand_c_211.html" class="cat">Shop By Brand</a>
                                    <ul class="subMenu">
                                        <li><a href="All-Things-Jill_c_234.html" class="subcat">All Things Jill</a></li>
                                        <li><a href="Bambu_c_306.html" class="subcat">Bambu</a></li>
                                        <li><a href="Bkind-natural-nail-care" class="subcat">BKind</a></li>
                                        <li><a href="Cha-Tea_c_310.html" class="subcat">Ch'a Tea</a></li>
                                        <li><a href="cocoon-apothecary" class="subcat">Cocoon Apothecary</a></li>
                                        <li><a href="CoffeeSock_c_309.html" class="subcat">CoffeeSock</a></li>
                                        <li><a href="colibri-bags" class="subcat">Colibri</a></li>
                                        <li><a href="Credobags_c_232.html" class="subcat">Credobags</a></li>
                                        <li><a href="DivaCup_c_255.html" class="subcat">DivaCup</a></li>
                                        <li><a href="ECOBAGS_c_307.html" class="subcat">ECOBAGS</a></li>
                                        <li><a href="Elate-Cosmetics_c_227.html" class="subcat">Elate Cosmetics</a></li>
                                        <li><a href="Harmonic-Arts_c_220.html" class="subcat">Harmonic Arts</a></li>
                                        <li><a href="Honey-Candles_c_313.html" class="subcat">Honey Candles</a></li>
                                        <li><a href="Jarmazing_c_228.html" class="subcat">Jarmazing</a></li>
                                        <li><a href="Joco_c_300.html" class="subcat">Joco</a></li>
                                        <li><a href="Kooshoo_c_213.html" class="subcat">Kooshoo</a></li>
                                        <li><a href="LUUMI_c_224.html" class="subcat">LUUMI</a></li>
                                        <li><a href="Masontops_c_316.html" class="subcat">Masontops</a></li>
                                        <li><a href="Naturel-Tea_c_276.html" class="subcat">Natur'el Tea</a></li>
                                        <li><a href="Nellies_c_250.html" class="subcat">Nellie's</a></li>
                                        <li><a href="Nelson-Naturals_c_231.html" class="subcat">Nelson Naturals</a></li>
                                        <li><a href="Pura_c_298.html" class="subcat">Pura</a></li>
                                        <li><a href="Redecker_c_212.html" class="subcat">Redecker</a></li>
                                        <li><a href="Routine_c_238.html" class="subcat">Routine</a></li>
                                        <li><a href="Sayula_c_251.html" class="subcat">Sayula</a></li>
                                        <li><a href="Soma_c_301.html" class="subcat">Soma</a></li>
                                        <li><a href="Splat-and-Co_c_226.html" class="subcat">Splat and Co</a></li>
                                        <li><a href="Stasher_c_214.html" class="subcat">Stasher</a></li>
                                        <li><a href="Stretch-Creations_c_256.html" class="subcat">Stretch Creations</a></li>
                                        <li><a href="Tru-Earth_c_242.html" class="subcat">Tru Earth</a></li>
                                        <li><a href="U-Konserve_c_304.html" class="subcat">U-Konserve</a></li>
                                        <li><a href="Well-Kept_c_239.html" class="subcat">Well Kept</a></li>
                                        <li><a href="Your-Green-Kitchen_c_315.html" class="subcat">Your Green Kitchen</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="bulk-Culinary-dry-goods_c_265.html" class="cat">bulk Culinary + dry goods</a>
                                    <ul class="subMenu">
                                        <li><a href="Gum_c_271.html" class="subcat">Gum</a></li>
                                        <li><a href="https://www.the-apothecary.ca/Bulk-Herbs_c_71.html" class="subcat">Herbs</a></li>
                                        <li><a href="Peppers_c_295.html" class="subcat">Peppers</a></li>
                                        <li><a href="Salts_c_294.html" class="subcat">Salts</a></li>
                                        <li><a href="Soups_c_299.html" class="subcat">Soups</a></li>
                                        <li><a href="Spices-Seasonings_c_293.html" class="subcat">Spices + Seasonings</a></li>
                                        <li><a href="organic-sprouting-seeds" class="subcat">Sprouting Seeds</a></li>
                                        <li><a href="bulk-natural-tea" class="subcat">Tea</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="curated-kits" class="cat">Curated Kits</a>
                                    <ul class="subMenu">
                                    </ul>
                                </li>
                                <li>
                                    <a href="Zero-Waste-Lifestyle_c_183.html" class="cat">Zero Waste Lifestyle</a>
                                    <ul class="subMenu">
                                        <li><a href="Zero-Waste-Home-Cleaning" class="subcat">Cleaning</a></li>
                                        <li><a href="Containers-and-Wraps_c_311.html" class="subcat">Containers and Wraps</a></li>
                                        <li><a href="Face-Body_c_195.html" class="subcat">Face & Body</a></li>
                                        <li><a href="First-Aid_c_210.html" class="subcat">First Aid</a></li>
                                        <li><a href="zero-waste-kitchen" class="subcat">Kitchen</a></li>
                                        <li><a href="zero-waste-laundry" class="subcat">Laundry</a></li>
                                        <li><a href="Mason_c_188.html" class="subcat">Mason</a></li>
                                        <li><a href="Menstrual-Products_c_194.html" class="subcat">Menstrual Products</a></li>
                                        <li><a href="On-the-Go_c_270.html" class="subcat">On the Go</a></li>
                                        <li><a href="Reusable-Bags_c_312.html" class="subcat">Reusable Bags</a></li>
                                        <li><a href="Straws_c_187.html" class="subcat">Straws</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Personal-Care_c_245.html" class="cat">Personal Care</a>
                                    <ul class="subMenu">
                                        <li><a href="Bath-Shower_c_29.html" class="subcat">Bath & Shower</a></li>
                                        <li><a href="Lotions-Body-Treatments_c_249.html" class="subcat">Lotions + Body Treatments</a></li>
                                        <li><a href="Deodorant_c_119.html" class="subcat">Deodorant</a></li>
                                        <li><a href="Hair-Care_c_182.html" class="subcat">Hair Care</a></li>
                                        <li><a href="Teeth_c_181.html" class="subcat">Teeth</a></li>
                                        <li><a href="Outdoors-Sun-Care_c_67.html" class="subcat">Outdoors + Sun Care</a></li>
                                        <li><a href="For-Men-Shave-Beard_c_54.html" class="subcat">For Men (Shave & Beard)</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Skincare-Cosmetics_c_248.html" class="cat">Skincare + Cosmetics</a>
                                    <ul class="subMenu">
                                        <li><a href="SkinCare_c_26.html" class="subcat">SkinCare</a></li>
                                        <li><a href="Make-Up-Cosmetics_c_199.html" class="subcat">Make Up / Cosmetics</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Baby-Mama_c_49.html" class="cat">Baby & Mama</a>
                                    <ul class="subMenu">
                                        <li><a href="For-Baby_c_50.html" class="subcat">For Baby</a></li>
                                        <li><a href="For-Mama_c_51.html" class="subcat">For Mama</a></li>
                                        <li><a href="Gifts_c_53.html" class="subcat">Gifts</a></li>
                                        <li><a href="Wellness_c_52.html" class="subcat">Wellness</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Chic-Puppy_c_58.html" class="cat">Chic Puppy</a>
                                    <ul class="subMenu">
                                    </ul>
                                </li>
                                <li>
                                    <a href="Essential-Oils-Aromatherapy_c_14.html" class="cat">Essential Oils + Aromatherapy</a>
                                    <ul class="subMenu">
                                        <li><a href="A--D_c_15.html" class="subcat">A - D</a></li>
                                        <li><a href="E--L_c_16.html" class="subcat">E - L</a></li>
                                        <li><a href="M--P_c_17.html" class="subcat">M - P</a></li>
                                        <li><a href="Q--Z_c_18.html" class="subcat">Q - Z</a></li>
                                        <li><a href="Synergies-Blends_c_19.html" class="subcat">Synergies / Blends</a></li>
                                        <li><a href="Diffusers_c_147.html" class="subcat">Diffusers</a></li>
                                        <li><a href="Absolutes_c_20.html" class="subcat">Absolutes</a></li>
                                        <li><a href="Aromatic-Roll-Ons_c_176.html" class="subcat">Aromatic Roll Ons</a></li>
                                        <li><a href="Single-Note-10-Dilutions_c_22.html" class="subcat">Single Note 10% Dilutions</a></li>
                                        <li><a href="Soap-Grade_c_23.html" class="subcat">Soap Grade</a></li>
                                        <li><a href="Hydrosols_c_138.html" class="subcat">Hydrosols</a></li>
                                        <li><a href="Collections-Kits_c_24.html" class="subcat">Collections & Kits</a></li>
                                        <li><a href="Jewelry_c_192.html" class="subcat">Jewelry</a></li>
                                        <li><a href="Essential-Oil-Cases_c_25.html" class="subcat">Essential Oil Cases</a></li>
                                        <li><a href="Books_c_93.html" class="subcat">Books</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Home-Environment_c_34.html" class="cat">Home + Environment</a>
                                    <ul class="subMenu">
                                        <li><a href="Candles_c_37.html" class="subcat">Candles</a></li>
                                        <li><a href="https://www.the-apothecary.ca/Cleaning_c_189.html" class="subcat">Home Cleaning</a></li>
                                        <li><a href="https://www.the-apothecary.ca/Kitchen_c_263.html" class="subcat">Kitchen</a></li>
                                        <li><a href="https://www.the-apothecary.ca/Laundry_c_264.html" class="subcat">Laundry</a></li>
                                        <li><a href="Room-Mists_c_38.html" class="subcat">Room Mists</a></li>
                                        <li><a href="Yoga_c_57.html" class="subcat">Yoga</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Raw-Materials-DIY_c_69.html" class="cat">Raw Materials + DIY</a>
                                    <ul class="subMenu">
                                        <li><a href="Carrier-Oils_c_70.html" class="subcat">Carrier Oils</a></li>
                                        <li><a href="Bulk-Herbs_c_71.html" class="subcat">Bulk Herbs</a></li>
                                        <li><a href="Nut-Butters_c_73.html" class="subcat">Nut Butters</a></li>
                                        <li><a href="Packaging_c_74.html" class="subcat">Packaging</a></li>
                                        <li><a href="Salts_c_75.html" class="subcat">Salts</a></li>
                                        <li><a href="Specialty_c_76.html" class="subcat">Specialty</a></li>
                                        <li><a href="Waxes_c_77.html" class="subcat">Waxes</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Remedies_c_40.html" class="cat">Remedies</a>
                                    <ul class="subMenu">
                                        <li><a href="Tinctures-and-Elixirs_c_219.html" class="subcat">Tinctures and Elixirs</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Books-Classes-Workshops_c_92.html" class="cat">Books + Classes + Workshops</a>
                                    <ul class="subMenu">
                                        <li><a href="Books_c_186.html" class="subcat">Books</a></li>
                                        <li><a href="Classes-by-NameTitle_c_253.html" class="subcat">Classes by Name/Title</a></li>
                                        <li><a href="Cancellation-Policy_c_142.html" class="subcat">Cancellation Policy</a></li>
                                        <li><a href="A-Note-on-Certification_c_175.html" class="subcat">A Note on Certification</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Gift-Certificates_c_241.html" class="cat">Gift Certificates</a>
                                    <ul class="subMenu">
                                    </ul>
                                </li>
                            </ul>

                        </nav>
                        <nav id="nav-learn">
                            <span class="nav-btn"><i class="fa fa-bars" aria-hidden="true"></i> Learn</span>
                            <ul>

                                <li><a href="Aromatherapy-101_ep_3.html" class="menu" target="_self">Aromatherapy 101</a></li>
                                <li><a href="Classes-Workshops_c_92.html" class="menu" target="_self">Classes + Workshops</a></li>
                                <li><a href="Recipes_ep_52.html" class="menu" target="_self">Recipes</a></li>
                                <li><a href="blog.asp" class="menu" target="_self">Blog</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentbox-wrapper">
            <div class="contentbox">

                <div id="pageheader" class="docsection-wrapper">
                    <div class="docsection boxed">
                        <div class="breadcrumbs-wrapper clearfix">
                            <div class="breadcrumbs">
                                <section>
                                    <p><a id='catCrumbHomeLink' href='/'>Home</a> > <a href='/Home-Environment_c_34.html'>Home + Environment</a> > <a href='/Candles_c_37.html'>Candles</a></p>
                                </section>
                            </div>
                        </div>
                        <div class="title-wrapper clearfix">
                            <div class="title">
                                <head>
                                    <h1>Candles</h1>
                                </head>
                            </div>
                        </div>
                        <div class="content-wrapper clearfix">
                            <div class="content">
                                <section>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="subcategories" class="othercategories docsection-wrapper">
                    <div class="docsection boxed">

                    </div>
                </div>
                <div id="categoryproducts" class="productlist docsection-wrapper">
                    <div class="docsection boxed">
                        <form action="view_category.asp?cat=37" method="post" name="frmsortby" id="frmsortby">

                            <div class="header-wrapper clearfix">
                                <div class="header">
                                    <header>
                                        <h2>Products <small>Total Items: 15</small> <select name="sortby" onchange="frmsortby.submit();" class="txtBoxStyle"><option value="1">Price: Low to High</option><option value="2">Price: High to Low</option><option value="3" selected>Name</option><option value="4">Newest</option><option value="13">Avg Review</option><option value="14">Review Count</option><option value="15">Free Shipping</option><option value="16">On Sale</option></select></h2>
                                        <div class="pager">


                                        </div>
                                    </header>
                                </div>
                            </div>
                            <div class="content-wrapper clearfix">
                                <div class="content">
                                    <section>
                                        <script class="slick-cloned" type="text/javascript">if (typeof _3d_items_collection === "undefined") { window._3d_items_collection = {}; }</script>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_12inchtaper_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles 12" Taper Beeswax Candle" id="qv_1618"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="12inch-taper-candle" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$9.75</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1618" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="12inch-taper-candle"><span><span>Honey Candles 12" Taper Beeswax Candle<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_3x3Pillar_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles 3x3" Pillar Beeswax Candle" id="qv_1614"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="3x3-beeswax-candle" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$21.95</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1614" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="3x3-beeswax-candle"><span><span>Honey Candles 3x3" Pillar Beeswax Candle<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_5x3Pillar_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles 5x3" Pillar Beeswax Candle" id="qv_1613"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="5x3-beeswax-candle" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$29.95</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1613" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="5x3-beeswax-candle"><span><span>Honey Candles 5x3" Pillar Beeswax Candle<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_622Column_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles 6" Natural Column Beeswax Candle" id="qv_1615"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="6inch-column-candle" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$9.95</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1615" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="6inch-column-candle"><span><span>Honey Candles 6" Natural Column Beeswax Candle<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_6inchTube_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles 6" Tube Beeswax Candle" id="qv_1616"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="6inch-tube-candle" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$3.50</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1616" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="6inch-tube-candle"><span><span>Honey Candles 6" Tube Beeswax Candle<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_7x3Pillar_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles 7x3" Pillar Beeswax Candle" id="qv_1612"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="7x3-beeswax-candle" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$37.95</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1612" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="7x3-beeswax-candle"><span><span>Honey Candles 7x3" Pillar Beeswax Candle<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_TealightinCup_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles Beeswax Tealight in Cup" id="qv_1620"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="tealight-cup-candle" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$1.85</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1620" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="tealight-cup-candle"><span><span>Honey Candles Beeswax Tealight in Cup<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_Tealightrefill_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles Beeswax Tealight Refill" id="qv_1621"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="tealight-candle-refill" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$1.70</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1621" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="tealight-candle-refill"><span><span>Honey Candles Beeswax Tealight Refill<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_ClearGlassCup_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles Clear Glass Tealight Cup" id="qv_1762"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="clear-glass-tealight-cup" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$2.50</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1762" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="clear-glass-tealight-cup"><span><span>Honey Candles Clear Glass Tealight Cup<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_ChakraSet_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles Enlighten Chakra Beeswax Candlesticks" id="qv_1625"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="chakra-beeswax-candles" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$10.00</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1625" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="chakra-beeswax-candles"><span><span>Honey Candles Enlighten Chakra Beeswax Candlesticks<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_MiniTaper_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles Mini Taper Candle" id="qv_1619"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="mini-taper-candle" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$0.75</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1619" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="mini-taper-candle"><span><span>Honey Candles Mini Taper Candle<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_NaturalBirthdayCandles_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles Natural Birthday Beeswax Candles" id="qv_1622"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>

                                                            <div class="morebutton"><a href="natural-birthday-candles" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$7.00</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1622" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="natural-birthday-candles"><span><span>Honey Candles Natural Birthday Beeswax Candles<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_BirthdayPastel_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles Pastel Birthday Beeswax Candles" id="qv_1624"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="pastel-birthday-candles" class="btn">Read More</a></div>


                                                            <img class="rating" src="assets/templates/apothecary2017/images/star5.png" alt="Average Rating" border="0" />


                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$7.00</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1624" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="pastel-birthday-candles"><span><span>Honey Candles Pastel Birthday Beeswax Candles<span><span></a></h3>
                                        </div>
                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_RoyalBirthday_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Honey Candles Royal Birthday Beeswax Candles" id="qv_1623"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="royal-birthday-candles" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$7.00</strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1623" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="royal-birthday-candles"><span><span>Honey Candles Royal Birthday Beeswax Candles<span><span></a></h3>
                                        </div>



                                        <div class="product">
                                            <div class="image" style="background-image: url(assets/images/thumbnails/HoneyCandles_SmallPillarCandle_thumbnail.jpg);"><img src="/" alt="" id="qv_1617"></div>
                                            <div class="frame"></div>
                                            <div class="info">
                                                <div class="info-data">
                                                    <div>
                                                        <div>
                                                            <div class="morebutton"><a href="TODO" class="btn">Read More</a></div>
                                                            <div class="price">

                                                                <span class="yourprice">Your Price: <strong>$ </strong></span>

                                                            </div>

                                                            <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1617" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3><a href="small-pillar-candle"><span><span>Honey Candles Small Pillar Candle<span><span></a></h3>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageURL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Information)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Instructions)
                        </th>
                  
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageURL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Information)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Instructions)
                            </td>
                        </tr>
                    }

                </table>
