<!DOCTYPE html>

<html class="no-js" lang="en-GB" x-ms-format-detection="none">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="~/Content/assets/templates/common/js/jquery.min.js?vcart=10.1.4"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <link rel="icon" type="image/png" href="~/Content/assets/templates/vegan2020/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/assets/templates/vegan2020/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Content/assets/templates/vegan2020/favicons/manifest.json?vcart=10.1.4">
    <link rel="mask-icon" href="~/Content/assets/templates/vegan2020/favicons/safari-pinned-tab.svg" color="#9b9388">
    <link rel="shortcut icon" href="~/Content/assets/templates/vegan2020/favicons/favicon.ico">
    <link href="~/Content/assets/templates/common-html5/css/flexslider.css" rel="stylesheet" />

    <script src="~/Content/assets/templates/common-html5/js/jquery.flexslider-min.js"></script>

    <meta name="msapplication-config" content="~/Content/assets/templates/vegan2020/favicons/browserconfig.xml">
    <meta name="theme-color" content="#fdf7ed">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo|Roboto+Condensed:400,400i,700,700i|Roboto:100,900" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/assets/templates/vegan2020/css/font-awesome.css?vcart=10.1.4" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/assets/templates/vegan2020/css/main.css?vcart=10.1.4" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/assets/templates/vegan2020/css/print.css?vcart=10.1.4" type="text/css" media="print" />
    <link rel="stylesheet" href="~/Content/assets/templates/vegan2020/css/messagebar.min.css?vcart=10.1.4" type="text/css" media="screen" />
    <link href="~/Content/assets/templates/vegan2020/css/main.css" rel="stylesheet" />
    
    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write("<script type=\"text/javascript\" src=\"~/Content/assets/templates/vegan2020/js/jquery-1.11.1.min.js?vcart=10.1.4\"></" + "script>");
        }
    </script>
    <script type="text/javascript" src="~/Content/assets/templates/vegan2020/js/gambit-smoothscroll-min.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="~/Content/assets/templates/vegan2020/js/pxl.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="~/Content/assets/templates/common-html5/js/utilities.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="~/Content/assets/templates/common-html5/js/functions.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="~/Content/assets/templates/vegan2020/js/jquery.quicksearch.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="~/Content/assets/templates/vegan2020/js/jquery.simplemodal.min.js?vcart=10.1.4"></script>
    <script type="text/javascript" src="~/Content/assets/templates/vegan2020/js/messagebar.min.js?vcart=10.1.4"></script>

    <script type="text/javascript">
        jQuery(function () {
            jQuery('#searchlight').searchlight('/search_quick.asp');
        });
    </script>
    <script type="text/javascript">
        new GambitSmoothScroll({
            amount: 150, // The scroll amount
            speed: 900 // The scroll speed
        });
    </script>
    <script type="text/javascript">
        (function ($) {

            var ThisDocURL;
            var ThisDocURLenc;
            $(document).ready(function () {
                ThisDocURL = '[product_url]';
                ThisDocURLenc = encodeURIComponent(ThisDocURL);
            });

        })(jQuery);
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-48564345-1']);
        _gaq.push(['_addDevId', '5Fyti']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>


    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
    

</head>
<body ng-app="VeganProject">
    <nav>
        @RenderPage("~/Views/Shared/Components/User/_NavigationBarUser.cshtml")
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer>
        @RenderPage("~/Views/Shared/Components/User/_FooterUser.cshtml")
    </footer>

    @RenderSection("Scripts", false)


    <script src="~/Content/VeganJs/Autocomplete.js"></script>
    <script src="~/Content/VeganJs/Controller.js"></script>
    <script src="https://rawgit.com/michaelbromley/angularUtils-pagination/master/dirPagination.js"></script>

</body>



</html>
