@model IEnumerable<Vegan.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Product", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <img src="@item.ImageURL" width='100px' height='100px' alt="@item.Title" />
            @*@Html.DisplayFor(modelItem => item.ImageURL)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProduct", new { productId = item.Id}) |
            @Html.ActionLink("Details", "DetailsProduct", new { productId = item.Id }) |
            @Html.ActionLink("Delete", "DeleteProduct", new { productId = item.Id })
        </td>
    </tr>
}

</table>
