@model Vegan.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Change Password Form</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-default" />
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


































<link href="~/Content/VeganCSS/ChangePassword.css" rel="stylesheet" />

<div class="contentbox-wrapper">
    <div class="contentbox">
        <script type="text/javascript">
            useAddressValidator = "";
            var emailReq = 0;
            var passwordReq = 0;
        </script>
        <div id="pageheader" class="docsection-wrapper">
            <div class="docsection boxed">
                <div class="breadcrumbs-wrapper clearfix">
                    <div class="breadcrumbs">
                        <section>
                            <p><a href="/">Home</a> > <a href="#">Change Password</a></p>
                        </section>
                    </div>
                </div>
                <div class="title-wrapper clearfix">
                    <div class="title">
                        <header>
                            <h1>Account</h1>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div id="registration" class="docsection-wrapper">
            <div class="docsection boxed">
                <section id="registration0">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { id = "registrationform", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="accountRegForm pad10 boxShadow">
                            <div class="header">
                                <h3>Change Password</h3>
                            </div>
                            <div class="loginField">
                                @Html.ValidationSummary(false, "", new { style = "color:tomato;font-size:11px;" })
                            </div>
                            <div class="loginField">
                                @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Old Password", @class = "form-control" })
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { style = "color:tomato;font-size:11px;" })
                            </div>
                            <div class="loginField">
                                @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New Password", size = "12", tabindex = "2", @class = "form-control txtBoxStyle" })
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { style = "color:tomato;font-size:11px;" })
                            </div>
                            <div class="loginField">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password", size = "12", tabindex = "3", @class = "form-control txtBoxStyle" })
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { style = "color:tomato;font-size:11px;" })
                            </div>
                        </div>
                        <div class="accountRegForm pad10 boxShadow">
                            <div class="submit-button">
                                <input type="submit" class="btn btn-default" data-dismiss="alert" value="Submit" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}