@model IEnumerable<Vegan.Entities.FoodHerb.Salt>

@{
    ViewBag.Title = "Vegan Salts";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div id="top" pxlurl="[product_url]">
    <div class="contentbox-wrapper">
        <div class="contentbox docsection boxed productlist">
            <div id="pageheader" class="docsection-wrapper ">
                <div class="">
                    <div class="breadcrumbs-wrapper clearfix">
                        <div class="breadcrumbs">
                            <section>
                                <p><a id='catCrumbHomeLink' href='/'>Home</a> > <a href="/FoodHerb/IndexUser">Dry Food & Herbs Products > </a> <a href="/Salt/IndexUser">Salts</a></p>
                            </section>
                        </div>
                    </div>
                    <div class="title-wrapper clearfix">
                        <div class="title">
                            <header>
                                <h1>Salts</h1>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-wrapper clearfix">
                <div class="header">
                    <header>
                        <h2>
                            <small>Total Items: @Model.ToList().Count() </small>
                        </h2>
                    </header>
                </div>
            </div>
            <div class="content-wrapper clearfix">
                <div class="content">
                    @foreach (var item in Model)
                    {
                        <div class="product">
                            <div class="image" style=" background-image: url( @Html.DisplayFor(modelItem => item.ImageURL));"><img src="@Html.DisplayFor(modelItem => item.ImageURL)"></div>
                            <div class="frame"></div>
                            <div class="info">
                                <div class="info-data">
                                    <div>

                                        @using (Html.BeginForm("Add", "ECommerce", FormMethod.Post))
                                        {
                                            @Html.Hidden("ProductId", item.Id)
                                            <div style="padding-top:60px">
                                                @Html.ActionLink("Read More", "DetailsSalt", new { productId = item.Id }, new { @class = "btn" })
                                                <div class="price">
                                                    <span class="yourprice" style="padding-bottom:15px">Your Price: <strong>€ @Html.DisplayFor(modelItem => item.Price) </strong></span>

                                                    <a class="btn" style="max-width:120px; text-align:center; padding-left:8px; padding-right:8px;" href="javascript:void(0);" onclick="$(this).closest('form').submit();">Add to cart</a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <h3>  @Html.ActionLink((@Html.DisplayFor(modelItem => item.Title).ToString()), "DetailsSalt", new { productId = item.Id })</h3>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>


