@model Vegan.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div id="top" pxlurl="[product_url]">
    <div class="contentbox-wrapper">
        <div class="contentbox">
            <div id="pageheader" class="docsection-wrapper">
                <div class="docsection boxed">
                    <div class="breadcrumbs-wrapper clearfix">
                        <div class="breadcrumbs">
                            <section>
                                <p><a href="/">Home</a> > <a href="~/Account/Login">My Account</a> > <a href="#">Forgot Password</a></p>
                            </section>
                        </div>
                    </div>
                    <div class="title-wrapper clearfix">
                        <div class="title">
                            <div>
                                <h1>Reset your password</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="accountlogin" class="docsection-wrapper">
                <div class="docsection boxed">
                    <section id="loginAccount" class="clearfix">
                        <div id="accountlogin-returning">
                            <div class="dottedbox">
                                <h3>
                                    FORGOT YOUR PASSWORD?
                                </h3>
                                <p>
                                    To Reset your password, please enter your email address in the section below and then click "Reset my password" button.
                                </p>
                                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <input type="hidden" name="catalogid" value="0" />
                                    <div class="loginFields">
                                        <div class="loginField">
                                            @Html.TextBoxFor(m => m.Email, new { tabindex = "1", placeholder = "Email", @class = "txtBoxStyle form-control" })
                                        </div>
                                        <div>
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="loginField">
                                        <button type="submit" value="Register" class="btn">Reset my password</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}