@model Vegan.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}
<div class="contentbox-wrapper">
    <div class="contentbox">
        <script type="text/javascript">
            useAddressValidator = "";
            var emailReq = 0;
            var passwordReq = 0;
        </script>
        <div id="pageheader" class="docsection-wrapper">
            <div class="docsection boxed">
                <div class="breadcrumbs-wrapper clearfix">
                    <div class="breadcrumbs">
                        <section>
                            <p><a href="/">Home</a> > <a href="#">New Account</a></p>
                        </section>
                    </div>
                </div>
                <div class="title-wrapper clearfix">
                    <div class="title">
                        <div>
                            <h1>Create an Account</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="registration" class="docsection-wrapper">
            <div class="docsection boxed">
                <section id="registration0">
                    <input type="hidden" name="view_cart" value="0" />
                    <input type="hidden" name="catalogid" value="0" />
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registrationform", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="catalogid" value="0" />
                        <div class="accountRegForm pad10 boxShadow">
                            <div class="header">
                                <h3>New Customers</h3>
                            </div>
                            <div class="loginField">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { size = "25", maxlength = "100", tabindex = "1", @class = "form-control txtBoxStyle" })
                                <div class="error-img"><img src="~/Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="" /></div>
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.Email, "", new { style = "color:tomato;font-size:9px;" })
                            </div>
                            <div class="loginField">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.Password, new { size = "12", tabindex = "2", @class = "form-control txtBoxStyle" })
                                <div class="error-img"><img src="~/Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="" /></div>
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.Password, "", new { style = "color:tomato;font-size:9px;" })
                            </div>
                            <div class="loginField">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password", size = "12", tabindex = "3", @class = "form-control txtBoxStyle" })
                                <div class="error-img"><img src="~/Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="" /></div>
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { style = "color:tomato;font-size:9px;" })
                            </div>
                        </div>
                        <div class="accountRegForm pad10 boxShadow">
                            <div class="header">
                                <h3>Customer Information</h3>
                            </div>
                            <div class="loginField">
                                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.FirstName, new { size = "15", tabindex = "4", @class = "form-control txtBoxStyle" })
                                <div class="error-img"><img src="~/Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="" /></div>
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { style = "color:tomato;font-size:9px;" })
                            </div>
                            <div class="loginField">
                                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.LastName, new { size = "15", tabindex = "5", @class = "form-control txtBoxStyle" })
                                <div class="error-img"><img src="~/Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="" /></div>
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.LastName, "", new { style = "color:tomato;font-size:9px;" })
                            </div>
                            <div class="loginField">
                                @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.PhoneNumber, new { size = "25", tabindex = "6", @class = "form-control txtBoxStyle" })
                                <div class="error-img"><img src="~/Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="" /></div>
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { style = "color:tomato;font-size:9px;" })
                            </div>
                            <div class="loginField">
                                @Html.LabelFor(m => m.Country, new { @class = "control-label" })
                                @Html.EnumDropDownListFor(m => m.Country, "", new { size = "1", tabindex = "8", @class = "form-control txtBoxStyle" })
                                <div class="error-img"><img src="~/Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="" /></div>
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.Country, "", new { style = "color:tomato;font-size:9px;" })
                            </div>
                            <div class="loginField">
                                @Html.LabelFor(m => m.City, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.City, new { size = "25", tabindex = "9", @class = "form-control txtBoxStyle" })
                                <div class="error-img"><img src="~/Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="" /></div>
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.City, "", new { style = "color:tomato;font-size:9px;" })
                            </div>
                            <div class="loginField">
                                @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Address, new { size = "25", tabindex = "10", @class = "form-control txtBoxStyle" })
                                <div class="error-img"><img src="~/Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="" /></div>
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.Address, "", new { style = "color:tomato;font-size:9px;" })
                            </div>
                            <div class="loginField">
                                @Html.LabelFor(m => m.PostCode, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.PostCode, new { size = "10", tabindex = "10", @class = "form-control txtBoxStyle" })
                                <div class="error-img"><img src="~/Content/assets/templates/vegan2020/images/ico12x12star.png" width="12" height="12" alt="" /></div>
                            </div>
                            <div class="loginField">
                                @Html.ValidationMessageFor(m => m.PostCode, "", new { style = "color:tomato;font-size:9px;" })
                            </div>
                            <div class="loginField">
                                @Html.ValidationSummary(true, "", new { style = "color:tomato;font-size:14px;" })
                            </div>
                            <div class="submit-button">
                                <input type="submit" class="btn btn-default" data-dismiss="alert" value="Register" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}