@model IEnumerable<Vegan.Entities.Care.Care>

@{
    ViewBag.Title = "Vegan Home Category";
    Layout = "~/Views/Shared/Components/User/_LayoutUser.cshtml";
}




<div class="content-wrapper clearfix">
    <div class="content">
        <section>
            <script class="slick-cloned" type="text/javascript">if (typeof _3d_items_collection === "undefined") { window._3d_items_collection = {}; }</script>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/aloe-1_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="PATCH Aloe Vera Adhesive Strips - tube of 25" id="qv_1058"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="PATCH-Aloe-Vera-Adhesive-Strips--tube-of-25_p_1058.html" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$9.75</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1058" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="PATCH-Aloe-Vera-Adhesive-Strips--tube-of-25_p_1058.html"><span><span>PATCH Aloe Vera Adhesive Strips - tube of 25<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/natural-1_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="PATCH Natural Adhesive Strips - tube of 25" id="qv_1059"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="PATCH-Natural-Adhesive-Strips--tube-of-25_p_1059.html" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$9.75</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1059" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="PATCH-Natural-Adhesive-Strips--tube-of-25_p_1059.html"><span><span>PATCH Natural Adhesive Strips - tube of 25<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/coconut-1_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="PATCH Coconut Oil Kids Adhesive Strips - tube of 25" id="qv_1060"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="PATCH-Coconut-Oil-Kids-Adhesive-Strips--tube-of-25_p_1060.html" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$9.75</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1060" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="PATCH-Coconut-Oil-Kids-Adhesive-Strips--tube-of-25_p_1060.html"><span><span>PATCH Coconut Oil Kids Adhesive Strips - tube of 25<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/charcoal1_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="PATCH Activated Charcoal Adhesive Strips - tube of 25" id="qv_1061"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="PATCH-Activated-Charcoal-Adhesive-Strips--tube-of-25_p_1061.html" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$9.75</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1061" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="PATCH-Activated-Charcoal-Adhesive-Strips--tube-of-25_p_1061.html"><span><span>PATCH Activated Charcoal Adhesive Strips - tube of 25<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/razor-pink1_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Well Kept Safety Razor - Dusty Rose" id="qv_1062"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="Well-Kept-Safety-Razor--Dusty-Rose_p_1062.html" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$68.00</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1062" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="Well-Kept-Safety-Razor--Dusty-Rose_p_1062.html"><span><span>Well Kept Safety Razor - Dusty Rose<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/WellKept_Razor_Cream_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Well Kept Safety Razor - Cream" id="qv_1063"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="Well-Kept-Safety-Razor--Cream_p_1063.html" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$68.00</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1063" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="Well-Kept-Safety-Razor--Cream_p_1063.html"><span><span>Well Kept Safety Razor - Cream<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/litchfield-black_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Well Kept Safety Razor - Litchfield black" id="qv_1064"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="Well-Kept-Safety-Razor--Litchfield-black_p_1064.html" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$72.00</strong></span>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="Well-Kept-Safety-Razor--Litchfield-black_p_1064.html"><span><span>Well Kept Safety Razor - Litchfield black<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/CredoBags_MeshProduce_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Credobags Mesh Produce Bags" id="qv_1065"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="credobags-mesh-produce-bag" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$10.00</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1065" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="credobags-mesh-produce-bag"><span><span>Credobags Mesh Produce Bags<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/credo-nutmilk_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Credobags Nut Milk Bag" id="qv_1066"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="credobags-nut-milk-bag" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$10.00</strong></span>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="credobags-nut-milk-bag"><span><span>Credobags Nut Milk Bag<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/smoothie-rainbow-boba-web_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Bubble Tea / Boba Straws" id="qv_1072"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="Bubble-Tea-Boba-Straws_p_1072.html" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$7.00</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1072" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="Bubble-Tea-Boba-Straws_p_1072.html"><span><span>Bubble Tea / Boba Straws<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/colibri_smallsnack_narwhal_thumbnail.png);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Narwhal Colibri Snack Bag" id="qv_1080"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="narwhal-snack-bag" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$8.50</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1080" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="narwhal-snack-bag"><span><span>Narwhal Colibri Snack Bag<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/colibri/thumbnails/Colibri_SmallSnack_Sloths_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Sloths Colibri Snack Bag" id="qv_1088"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="sloths-snack-bag" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$8.50</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1088" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="sloths-snack-bag"><span><span>Sloths Colibri Snack Bag<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/colibri/thumbnails/Colibri_SmallSnack_NatureWalk_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Nature Walk Colibri Snack Bag" id="qv_1089"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="nature-walk-snack-bag" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$8.50</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1089" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="nature-walk-snack-bag"><span><span>Nature Walk Colibri Snack Bag<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/stasher/thumbnails/Stasher_StandUp_Clear_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Stasher Reusable Silicone Stand Up Bag" id="qv_1091"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="stasher-stand-up-bag" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$28.00</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1091" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="stasher-stand-up-bag"><span><span>Stasher Reusable Silicone Stand Up Bag<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/stasher/thumbnails/Stasher_SousVide_Clear_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Stasher Reusable Silicone Sous Vide Bag" id="qv_1094"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="Stasher-Reusable-Silicone-Sous-Vide-Bag_p_1094.html" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$30.00</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1094" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="Stasher-Reusable-Silicone-Sous-Vide-Bag_p_1094.html"><span><span>Stasher Reusable Silicone Sous Vide Bag<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/stasher/thumbnails/Stasher_Sandwich_Agave_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Stasher Agave Reusable Silicone Bag" id="qv_1096"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="stasher-agave-bag" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$15.00</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1096" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="stasher-agave-bag"><span><span>Stasher Agave Reusable Silicone Bag<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/stasher/thumbnails/Stasher_Sandwich_Dusk_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Stasher Dusk Reusable Silicone Bag" id="qv_1097"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="stasher-dusk-bag" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$15.00</strong></span>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="stasher-dusk-bag"><span><span>Stasher Dusk Reusable Silicone Bag<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/stasher/thumbnails/Stasher_Snack_Jade_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Stasher Jade Reusable Silicone Bag" id="qv_1098"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="stasher-jade-bag" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$12.00</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1098" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="stasher-jade-bag"><span><span>Stasher Jade Reusable Silicone Bag<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/stasher/thumbnails/Stasher_Sandwich_Milky Way_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Stasher Milky Way Clear Shimmer Reusable Silicone Bag" id="qv_1100"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="stasher-milky-way" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$15.00</strong></span>

                                </div>

                                <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=1100" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="stasher-milky-way"><span><span>Stasher Milky Way Clear Shimmer Reusable Silicone Bag<span><span></a></h3>
            </div>
            <div class="product">
                <div class="image" style="background-image: url(assets/images/thumbnails/Stasher_MoonstoneBlueShimmerSandwich_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Stasher Moonstone Blue Shimmer Reusable Silicone Bag" id="qv_1101"></div>
                <div class="frame"></div>
                <div class="info">
                    <div class="info-data">
                        <div>
                            <div>
                                <div class="morebutton"><a href="Stasher-Moonstone-Blue-Shimmer-Reusable-Silicone-Bag_p_1101.html" class="btn">Read More</a></div>
                                <div class="price">

                                    <span class="yourprice">Your Price: <strong>$15.00</strong></span>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <h3><a href="Stasher-Moonstone-Blue-Shimmer-Reusable-Silicone-Bag_p_1101.html"><span><span>Stasher Moonstone Blue Shimmer Reusable Silicone Bag<span><span></a></h3>
            </div>
        </section>
    </div>
</div>
<div class="footer-wrapper clearfix">
    <div class="footer">
        <footer>
            <div class="pager">



                <strong>1</strong>
                <a href="Zero-Waste-Lifestyle_c_183-2.html">2</a>
                <a href="Zero-Waste-Lifestyle_c_183-3.html">3</a>
                <a href="Zero-Waste-Lifestyle_c_183-4.html">4</a>
                <a href="Zero-Waste-Lifestyle_c_183-5.html">5</a>
                <a href="Zero-Waste-Lifestyle_c_183-6.html">6</a>
                <a href="Zero-Waste-Lifestyle_c_183-7.html">7</a>
                <a href="Zero-Waste-Lifestyle_c_183-10.html">10</a>


                <a href="Zero-Waste-Lifestyle_c_183-2.html">Next Page <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="view_category.asp?viewall=1&cat=183">View All</a>



            </div>
        </footer>
    </div>
</div>

</form>
</div></div>



@*=============================================================================================================*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Directions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfIngredient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueOfIngredient)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Directions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfIngredient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueOfIngredient)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
