@model Vegan.Entities.Home.EssentialOil

@{
    ViewBag.Title = "DetailsEssentialOil";
}

<h2>DetailsEssentialOil</h2>

<div>
    <h4>EssentialOil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImageURL)" width="100" height="100" alt="@Html.DisplayFor(model => model.Title)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfIngredientEssentOil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfIngredientEssentOil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueOfIngredientEssentOil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueOfIngredientEssentOil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditEssentialOil", new { productId = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



<body>

    <nav id="nav-learn">
        <span class="nav-btn"><i class="fa fa-bars" aria-hidden="true"></i> Learn</span>
        <ul>

            <li><a href="Aromatherapy-101_ep_3.html" class="menu" target="_self">Aromatherapy 101</a></li>
            <li><a href="Classes-Workshops_c_92.html" class="menu" target="_self">Classes + Workshops</a></li>
            <li><a href="Recipes_ep_52.html" class="menu" target="_self">Recipes</a></li>
            <li><a href="blog.asp" class="menu" target="_self">Blog</a></li>

        </ul>
    </nav>
    </div></div>
    </div></div>
    <div class="contentbox-wrapper">
        <div class="contentbox">




            <script type="text/javascript" src="assets/templates/common-html5/js/listing.js?vcart=10.1.4"></script>
            <script type="text/javascript" src="assets/templates/common-html5/3dzoom/magiczoomplus.js?vcart=10.1.4"></script>
            <script type="text/javascript" src="assets/templates/common-html5/js/jquery.responsive.tabs.min.js?vcart=10.1.4"></script>
            <link href="assets/templates/common-html5/3dzoom/magiczoomplus.css?vcart=10.1.4" rel="stylesheet" type="text/css" media="screen" />
            <link rel="stylesheet" href="/assets/templates/common-html5/css/flexslider.css?vcart=10.1.4" type="text/css" media="screen" />
            <script type="text/javascript" src="/assets/templates/common-html5/js/jquery.flexslider-min.js?vcart=10.1.4"></script>
            <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write("<script type=\"text/javascript\" src=\"assets/templates/common-html5/js/jquery.min.js?vcart=10.1.4\"></" + "script>");
    }
    jQuery.getScript('assets/templates/common-html5/js/jquery.simplemodal.min.js');

    var sWidth = document.body.clientWidth;
    if (sWidth < 767) {
        //mobile only
        MagicZoomPlus.options = {
            'disable-zoom': true,
            'disable-expand': true,
            'hint': false
        };
    }
    else {
        MagicZoomPlus.options = {
            'opacity':'65',
            'expand-effect':'elastic',
            'background-opacity':'50',
            'zoom-fade': true,
            'zoom-position':'inner',
            'fit-zoom-window': false,
            'hint': false
        }
    }

    function closeModal() {
        jQuery.modal.close();
    }
            </script>

            <script type="text/javascript">
    var revUpdateBar = new MessageBar();
    revUpdateBar.initialize();

    function updateRevStats(id, spn, vote){

        var url = '';
        var params = '';

        params = 'id=' + id;
        params += '&vote=' + vote;

        url = 'reviewVote_ajax.asp?' + params + '&no-cache='+Math.random();

        //window.location = url;

        jQuery.ajax({
            url: url,
            dataType: 'html',
            type: 'GET',
            cache: false,
            success: function (strResult) {
                if (strResult == '') {
                    //alert('Thank you for your vote. Please note that only one vote may be recorded per user.');
                    revUpdateBar.alert('Thank you for your vote. Please note that only one vote may be recorded per user.');
                }
                else {
                    jQuery('#spnReview' + spn).html(strResult);
                    //alert('Thank you for your feedback. Your vote has been recorded.');
                    revUpdateBar.success('Thank you for your feedback. Your vote has been recorded.');
                }

            },
            error: reportRevError
        });

    }

    function reportRevError(jqXHR, textStatus) {
        if (jqXHR.status > 0)
        {
            //alert("Error processing request, please try again.");
            revUpdateBar.alert('Error processing request, please try again.');
            //alert(jqXHR.responseText);
            //alert(jqXHR.status + " - " + jqXHR);
        }
    }
            </script>

            <div id="pageheader" class="docsection-wrapper">
                <div class="docsection boxed">
                    <div class="breadcrumbs-wrapper clearfix">
                        <div class="breadcrumbs">
                            <section>
                                <p><a id='catCrumbHomeLink' href='/'>Home</a> > <a href='/Personal-Care_c_245.html'>Personal Care</a> > <a href='/Deodorant_c_119.html'>Deodorant</a>  >  Lucy in the Sky vegan deodorant by routine.</p>
                            </section>
                        </div>
                    </div>
                    <div class="title-wrapper clearfix">
                        <div class="title">
                            <head>
                                <h1>Lucy in the Sky vegan deodorant by routine.</h1>
                            </head>
                        </div>
                    </div>
                </div>
            </div>
            <div id="productdetails" class="docsection-wrapper" itemscope itemtype="http://schema.org/Product">
                <div class="docsection boxed">
                    <form enctype="multipart/form-data" method="post" action="add_cart.asp" name="add" id="add">
                        <input type="hidden" name="item_id" value="936" />
                        <input type="hidden" name="itemid" value="" id="itemid" />
                        <input type="hidden" name="category_id" value="119" />
                        <div class="content-wrapper clearfix">
                            <div id="productimage-wrapper">
                                <div id="productimage">
                                    <img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Lucy in the Sky vegan deodorant by routine.">

                                    <div class="image image1" style="background-image: url(assets/images/routine/lucy-sky.jpg);"></div>




                                </div>
                                <div id="productimage-btns">

                                    <div class="image image1" style="background-image: url(assets/images/routine/lucy-sky.jpg);"></div>


                                    <div class="image image2" style="background-image: url();"></div>


                                    <div class="image image3" style="background-image: url();"></div>


                                    <div class="image image4" style="background-image: url();"></div>

                                </div>
                            </div>
                            <div id="productinfo" class="content">
                                <section>

                                    <div id="productdesription" itemprop="description">

                                        <p>A vegan formula (no beeswax) that smells like lavender, patchouli and barefoot dancing at shambhala.</p> <p>50ml, enough for 3-6 months with regular use. Shelf life is 12 months.</p> <dl> <dt>Details</dt> <dd> <p>routine's effectiveness and commitment to maintain a deep connection to local community has resulted in a word of mouth, sought after destination product with a loyal fan following. Ethically crafted with the health of the planet and its roommates as priority, routine was created by sisters Neige and Pippa at the base of the Rocky Mountains in beautiful Calgary, Canada. </p> </dd> </dl> <dl> <dt>Directions</dt> <dd> <p>routine. is applied with your clean fingers (or a tiny, clean spoon if you'd prefer). This alternative application method eliminates the possibility for the bacteria from your armpits to contaminate the product (as opposed to the conventional stick method) in turn, making it effective to the very bottom of the jar. Hooray!</p> </dd> </dl> <dl> <dt>Ingredients</dt> <dd> <p>cocos nucifera (coconut) oil, sodium bicarbonate (baking soda), kaolinite (kaolin clay), butyrospermum parkii (shea) butter, theobroma cacao (cocoa) seed butter, hectorite (hectorite clay), cetearyl olivate (and) sorbitan olivate (natural olive based stabilizer), lavendula officinalis (lavender) oil, calendula officinalis (marigold) infused olea europaea (olive) oil, tocopherol (vitamin e), pogostemon cablin (patchouli) oil, azadirachta indica (neem) oil, vanilla planifolia oil, rosmarinus officinalis (rosemary) leaf extract.</p> </dd> </dl>
                                    </div>


                                    <div id="productavailability">Availability: <span>In Stock</span></div>


                                    <div id="divOptionsBlock">

                                        <div class="container">


                                            <div class="opt-regular">
                                                <span class="required"><img src="assets/templates/common/images/error2.gif" width="12" height="12" alt="" /></span>
                                                <span class="label">CHOOSE SIZE</span>

                                                <div class="opt-field">
                                                    <div class="dropdown-format">
                                                        <select name="option-686-936" onchange="validateValues(document.add,1);selectOption(this);" class="txtBoxStyle">

                                                            <option value="2290">Regular (50 ml) </option>
                                                            <option value="2291">Mini (trial size) </option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="std_price" value="28.00">
                                            <input type="hidden" name="price_2290" value="0">
                                            <input type="hidden" name="OptID_2290" value="">
                                            <input type="hidden" name="required_field" value="option-686-936">
                                            <input type="hidden" name="price_2291" value="-22.75">
                                            <input type="hidden" name="OptID_2291" value="">
                                            <script type="text/javascript">
var inventoryarray936= new Array();var idarray936= new Array();
var aopricearray936= new Array();
var gtinarray936 = new Array();
                                            </script><input type="hidden" id="hdnHasDefaultSelected" name="hdnHasDefaultSelected" value="0" />
                                        </div>

                                    </div>


                                    <div class="dottedbox">

                                        <div id="productprice" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                            <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition">
                                            <meta itemprop="availability" href="http://schema.org/InStock">
                                            <meta itemprop="priceCurrency" content="CAD">
                                            <div class="price">
                                                <span class="yourprice">Your Price: <strong><div itemprop="price" id="price" class="price" style="display: inline;">$28.00</div></strong></span>

                                            </div>
                                        </div>


                                        <div id="productcart">
                                            <div class="addToCartBlock">
                                                <div class="qtybox-addcart">

                                                    <label>Quantity</label>
                                                    <input type="text" size="3" name="qty-0" value="1" onchange="validateValues(document.add,1);" class="txtBoxStyle" />


                                                    <button type="button" id="Add" class="btn" onclick="check_and_add(document.add,1);"><i class="icon-basket"></i> Add to Cart</button>



                                                </div>

                                            </div>


                                        </div>

                                    </div>
                                    <div id="productutils">


                                        <script type="text/javascript">
                        ( function($) {

                        $(document).ready(function() {

                            var ThisDocURL = $("#top").attr("pxlurl");
                            var ThisDocURLenc = encodeURIComponent(ThisDocURL);

                            $('#productshare .fa-facebook').wrap('<a href="https://www.facebook.com/sharer/sharer.php?u=' + ThisDocURLenc + '" target="_blank"></a>');
                            $('#productshare .fa-twitter').wrap('<a href="https://twitter.com/intent/tweet/?text=Check%20this%20out&url=' + ThisDocURLenc + '&via=ApothecaryYYC&hashtags=wellness" target="_blank">');
                            $('#productshare .fa-google-plus').wrap('<a href="https://plus.google.com/share?url=' + ThisDocURLenc + '" target="_blank">');
                            $('#productshare .fa-pinterest-p').wrap('<a href="https://www.pinterest.com/pin/create/button/?url=' + ThisDocURLenc + '&media=assets/images/routine/lucy-sky.jpg&description=The%20Apothecary%20in%20Inglewood&hashtags=wellness" target="_blank">');
                            $('#productshare .fa-tumblr').wrap('<a href="http://www.tumblr.com/share/link?url=' + ThisDocURLenc + '" target="blank_"></a>');
                            $('#productshare .fa-linkedin').wrap('<a href="https://www.linkedin.com/shareArticle?mini=true&url=' + ThisDocURLenc + '&title=The%20Apothecary%20in%20Inglewood&source=' + ThisDocURLenc + '&summary=Check%20this%20out" target="_blank">');

                            function windowPopup(url, width, height) {
                              var left = (screen.width / 2) - (width / 2),
                                  top = (screen.height / 2) - (height / 2);
                              window.open(
                                url,
                                "",
                                "menubar=no,toolbar=no,resizable=yes,scrollbars=yes,width=" + width + ",height=" + height + ",top=" + top + ",left=" + left
                              );
                            }
                            $('#productshare > a').on('click', function(e) {
                              e.preventDefault();
                              windowPopup($(this).attr('href'), 800, 500);
                            });
                        });

                        } ) ( jQuery );
                                        </script>
                                        <div id="productshare">
                                            Share:
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                            <i class="fa fa-tumblr" aria-hidden="true"></i>
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    <div class="createFirstReview">
                                        <button type="button" class="btn accent-bg-color" onclick="javascript:showFirstReview();">Review this item</button>
                                        <script type="text/javascript">
                        function showFirstReview() {
                            var src = 'review.asp?action=newReview&catalogid=936';
                            var intHeight, intWidth;
                            intHeight = 580;
                            intWidth = 795;
                            if (document.body.clientWidth < 767) {
                                intHeight = 460;
                                intWidth = 300;
                            }
                            jQuery.modal('<iframe src="' + src + '" height="' + intHeight + '" width="' + intWidth + '" style="border:0">', {
                                closeClass: 'modalCloseImg',
                                closeHTML: '<a href="#">Close</a>',
                                containerCss:{
                                    backgroundColor:"#ede8df",
                                    borderColor:"#9b9388",
                                    height:intHeight,
                                    padding:0,
                                    width:(intWidth+5)
                                },
                                overlayClose:true,
                                onShow: function(dialog){
                                    dialog.wrap.css('overflow','hidden');
                                }
                            });
                        }
                                        </script>
                                    </div>

                                </section>
                            </div>
                        </div>

















                    </form>
                </div>
            </div>


            <div id="relatedproducts" class="productlist docsection-wrapper">
                <div class="docsection boxed">
                    <div class="header-wrapper clearfix">
                        <div class="header">
                            <header>
                                <h2>Related Items</h2>
                            </header>
                        </div>
                    </div>
                    <div class="content-wrapper clearfix">
                        <div class="content">
                            <section>
                                <script class="slick-cloned" type="text/javascript">if (typeof _3d_items_collection === "undefined") { window._3d_items_collection = {}; }</script>
                                <div class="product">
                                    <div class="image" style="background-image: url(assets/images/thumbnails/sand-vet-deod-web_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Sandalwood & Vetiver Deodorant" id="qv_431"></div>
                                    <div class="frame"></div>
                                    <div class="info">
                                        <div class="info-data">
                                            <div>
                                                <div>
                                                    <div class="morebutton"><a href="Sandalwood-Vetiver-Deodorant_p_431.html" class="btn">Read More</a></div>
                                                    <div class="price">

                                                        <span class="yourprice">Your Price: <strong>$9.00</strong></span>

                                                    </div>

                                                    <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=431" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3><a href="Sandalwood-Vetiver-Deodorant_p_431.html"><span><span>Sandalwood & Vetiver Deodorant</span></span></a></h3>
                                </div>
                                <div class="product">
                                    <div class="image" style="background-image: url(assets/images/thumbnails/sexy-sadie-n_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Sexy Sadie (baking soda free) Deodorant by routine." id="qv_747"></div>
                                    <div class="frame"></div>
                                    <div class="info">
                                        <div class="info-data">
                                            <div>
                                                <div>
                                                    <div class="morebutton"><a href="Sexy-Sadie-baking-soda-free-Deodorant-by-routine_p_747.html" class="btn">Read More</a></div>


                                                    <img class="rating" src="assets/templates/apothecary2017/images/star5.png" alt="Average Rating" border="0" />


                                                    <div class="price">

                                                        <span class="yourprice">Your Price: <strong>$28.00</strong></span>

                                                    </div>

                                                    <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=747" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3><a href="Sexy-Sadie-baking-soda-free-Deodorant-by-routine_p_747.html"><span><span>Sexy Sadie (baking soda free) Deodorant by routine.</span></span></a></h3>
                                </div>
                                <div class="product">
                                    <div class="image" style="background-image: url(assets/images/thumbnails/maggies-citrus_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="Maggie's Citrus Farm deodorant by routine." id="qv_748"></div>
                                    <div class="frame"></div>
                                    <div class="info">
                                        <div class="info-data">
                                            <div>
                                                <div>
                                                    <div class="morebutton"><a href="Maggies-Citrus-Farm-deodorant-by-routine_p_748.html" class="btn">Read More</a></div>
                                                    <div class="price">

                                                        <span class="yourprice">Your Price: <strong>$28.00</strong></span>

                                                    </div>

                                                    <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=748" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3><a href="Maggies-Citrus-Farm-deodorant-by-routine_p_748.html"><span><span>Maggie's Citrus Farm deodorant by routine.</span></span></a></h3>
                                </div>
                                <div class="product">
                                    <div class="image" style="background-image: url(assets/images/thumbnails/the-curator_thumbnail.jpg);"><img src="assets/templates/apothecary2017/images/img10x10blank.png" alt="The Curator deodorant by routine." id="qv_751"></div>
                                    <div class="frame"></div>
                                    <div class="info">
                                        <div class="info-data">
                                            <div>
                                                <div>
                                                    <div class="morebutton"><a href="The-Curator-deodorant-by-routine_p_751.html" class="btn">Read More</a></div>


                                                    <img class="rating" src="assets/templates/apothecary2017/images/star5.png" alt="Average Rating" border="0" />


                                                    <div class="price">

                                                        <span class="yourprice">Your Price: <strong>$28.00</strong></span>

                                                    </div>

                                                    <div class="cartbutton"><a href="add_cart.asp?quick=1&amp;item_id=751" class="btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add To Cart</a></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3><a href="The-Curator-deodorant-by-routine_p_751.html"><span><span>The Curator deodorant by routine.</span></span></a></h3>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>



            <div id="browsinghistory" class="productlist docsection-wrapper">
                <div class="docsection boxed">
                    <div class="header-wrapper clearfix">
                        <div class="header">
                            <header>
                                <h2>Recently Viewed Items <input type="button" onclick="window.location.href='product.asp?itemid=936&delhist=0';" name="" value="Turn History Off" class="btn"></h2>
                            </header>
                        </div>
                    </div>
                    <div class="content-wrapper clearfix">
                        <div class="content">
                            <section></section>
                        </div>
                    </div>
                </div>
            </div>


            <div id="relatedcategories" class="othercategories docsection-wrapper">
                <div class="docsection boxed">
                    <div class="header-wrapper clearfix">
                        <div class="header">
                            <header>
                                <h2>Browse Similar Items</h2>
                            </header>
                        </div>
                    </div>
                    <div class="subcats-wrapper clearfix">
                        <div class="subcats">
                            <section>
                                <ul>
                                    <li><div><span><span><a href='/Shop-By-Brand_c_211.html'>Shop By Brand</a> > <a href='/Routine_c_238.html'>Routine</a></span></span></div></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">

jQuery(document).ready(function() {

    jQuery('.carousel').flexslider({
        animation: "slide",
        animationLoop: true,
        slideshow: false,
        controlNav: false,
        itemWidth: 50,
        maxItems: 4,
        itemMargin: 5,
        prevText: "",
        nextText: ""
    });

    //Hide delimiter when Product Reviews are disabled.
    if(jQuery('.totalrating').length < 1) {
        jQuery('span.pipe').hide();
    }

    jQuery('.main-image').addClass('disable-click');

});

jQuery(window).load(function() {

    jQuery('.main-image').removeClass('disable-click');

});

jQuery(function() {

    jQuery('#giftcertificate_block input').focusin(function () {
        jQuery(this).next('div.info-tip').animate({
             right: '0px',
             opacity: 1.0
         }, 250);
    });
    jQuery('#giftcertificate_block input').focusout(function () {
        jQuery(this).next('div.info-tip').animate({
             right: '-50px',
             opacity: 0
         }, 250);
    });
    jQuery('#giftcertificate_block textarea').focusin(function () {
        jQuery(this).next('div.info-tip').animate({
             top: '-15px',
             width: '150px',
             right: '0px',
             opacity: 1.0
         }, 250);
    });
    jQuery('#giftcertificate_block textarea').focusout(function () {
        jQuery(this).next('div.info-tip').animate({
             top: '-15px',
             width: '150px',
             right: '-50px',
             opacity: 0
         }, 250);
    });

    //Switch Main Image/Product Video
    jQuery('#showRealMedia').on('click', function() {
        jQuery('#realmediaBlock').fadeIn();
        jQuery('#mediaBlock .main-image').hide();
    });
    jQuery('.prod-thumb a').on('click', function() {
        jQuery('#realmediaBlock').hide();
        jQuery('#mediaBlock .main-image').fadeIn();
    });

    jQuery('#listing0 .reviewsBlock .button a').addClass('icon-btn icon-btn-search');

    jQuery('#listing0 .qa_link a').addClass('icon-btn icon-btn-search');

    //Radio Button Options
    jQuery('#add input[type="radio"]:checked').next('div').addClass('radio-selected');

    jQuery('.radio-format .radio-option').click(function() {

        var group = jQuery(this).attr('data-group');
        var value = jQuery(this).attr('id');

        jQuery(".opt-field :radio[name='" + group + "']").each(function(i) {

            if(jQuery(this).attr('value') === value) {
                document.getElementById('radio-' + jQuery(this).attr('value')).checked = true;
                jQuery("#" + value).addClass('radio-selected');
            }
            else {
                document.getElementById('radio-' + jQuery(this).attr('value')).checked = false;
                jQuery('#' + jQuery(this).attr('value')).removeClass('radio-selected');
            }
        });
    });

    //Responsive Tabs initialized
    jQuery('#rTabs').responsiveTabs({
      rotate: false,
      startCollapsed: 'accordion',
      collapsible: 'accordion',
      setHash: false
    });

    //Responsive Tabs initializing the first tab on mobile
    if(document.body.clientWidth < 767) {
        jQuery('span.pipe').hide();
        jQuery('#rTabs').responsiveTabs('activate', 0);
    }


    //Responsive Tabs initializing the first tab on mobile
    if(document.body.clientWidth < 767) {
        jQuery('span.pipe').hide();
        jQuery('#rTabs').responsiveTabs('activate', 0);
    }


});

function viewTabs() {
    jQuery('html, body').animate({scrollTop:jQuery('#rTabs').position().top}, 'fast');
}
//Show/Hide 'Multipule Ship-To' Recipient field/note
function showAddName() {
    if ( jQuery('.multipleShipToBlock .send-to select').val() == 'selectother')   {
        jQuery('.multipleShipToBlock .add-name, .multipleShipToBlock .note').show();
    }
    else {
        jQuery('.multipleShipToBlock .add-name, .multipleShipToBlock .note').hide();
    }
}
//Show/Hide 'Quantity Pricing' Table
jQuery('#showQtyTable').on('click', function() {
    jQuery('.quantity-table').slideToggle();
});
            </script>
            <script type="text/javascript">
//messagebar.js initialized
var reqOptionBar = new MessageBar();
reqOptionBar.initialize();

//Thumbnail script
var image1,image2,image3,image4,image5,image6,image7,image8,image9,image10,image11,image12,image13,image14,image15,image16,image17,image18,image19,image20,selectedimage;
var imagemaxwidth, imagemaxheight

imagemaxwidth=660;
imagemaxheight=0;

image1="assets/images/routine/lucy-sky.jpg";
image2="";
image3="";
image4="";
image5="[image5]";
image6="[image6]";
image7="[image7]";
image8="[image8]";
image9="[image9]";
image10="[image10]";
image11="[image11]";
image12="[image12]";
image13="[image13]";
image14="[image14]";
image15="[image15]";
image16="[image16]";
image17="[image17]";
image18="[image18]";
image19="[image19]";
image20="[image20]";
imagecaption1="Lucy in the Sky vegan deodorant by routine. ";
imagecaption2=" ";
imagecaption3=" ";
imagecaption4=" ";
imagecaption5=" ";
imagecaption6=" ";
imagecaption7=" ";
imagecaption8=" ";
imagecaption9=" ";
imagecaption10=" ";
imagecaption11=" ";
imagecaption12=" ";
imagecaption13=" ";
imagecaption14=" ";
imagecaption15=" ";
imagecaption16=" ";
imagecaption17=" ";
imagecaption18=" ";
imagecaption19=" ";
imagecaption20=" ";
selectedimage='assets/images/routine/lucy-sky.jpg'; //pre-load image1
zoom_enable=1; //0 = zoomify | 1 = magiczoom

function image_click(clicks) {
    if (document.getElementById('listing_main_image_link')!=undefined) {

        if (zoom_enable==1) {
            selectedimage=eval('image'+clicks);
            MagicZoomPlus.update('listing_main_image_link', selectedimage, 'thumbnail.asp?file=' + selectedimage + '&maxx='+imagemaxwidth+'&maxy='+imagemaxheight, 'show-title: false');
            changecontent("imagecaptiont",eval('imagecaption'+clicks));
            document.getElementById('listing_main_image_link').href=this.name;
        }
        else {
            selectedimage=eval('image'+clicks);
            document.getElementById('large').src='thumbnail.asp?file=' + selectedimage + '&maxx='+imagemaxwidth+'&maxy='+imagemaxheight;
            document.getElementById('listing_main_image_link').href='#';
            document.getElementById('listing_main_image_link').onclick=zoomify_popup;
            changecontent("imagecaptiont",eval('imagecaption'+clicks));
        }
    }
}

function zoomify_popup() {
    popupsimple('zoomify.asp?catalogid=936&img=' + selectedimage ,500,500);
}

function check_stock(what,partnum) {
    var soption;
    var i;
    var product_availability="In Stock";
    var backordermode="0";
    var avail_instock="In Stock";
    var avail_outofstock="Out of Stock";
    var avail_backorder="Back Order";
    var optionfound=0;

    var availabilityBar = new MessageBar();
    availabilityBar.initialize();

    if (typeof inventoryarray936 == 'undefined' || inventoryarray936.length==0) //if there is no advanced options, don't look for stock
    {
        return true;
    }
    else
    {
        for(i=0;i<inventoryarray936.length;i++)
        {
            soption=inventoryarray936[i];
            field_array=soption.split("-");
            //Dynamic Part for advanced options
            if (typeof((idarray936)) != "undefined")
            {
                soptionid=idarray936[i];
                aoprice=aopricearray936[i];
                if (field_array[0]==partnum)
                {
                    if (soptionid != '')
                        changeid(soptionid);
                    if (aoprice != '0')
                        changeprice(aoprice);
                }
            }

            if ((field_array[0]==partnum))
            {
                changecontent("product_inventory",field_array[1]);
                if (eval(GetValue(what,"qty-0"))>field_array[1])
                {
                    optionfound=optionfound+1;
                    if (backordermode==1)
                    {
                        changecontent("availability",avail_backorder);
                        return true;
                        optionfound=optionfound+1;
                    }
                    else
                    {
                        changecontent("availability",avail_outofstock);
                        //alert("The options you selected are not currently available.");
                        availabilityBar.alert('The options you selected are not currently available.');
                        optionfound=optionfound+2;
                        return false;
                    }
                }

            }
        }

        if (optionfound==0)
        {
            changecontent("availability",product_availability);
            return true;
        }

        if (optionfound==1)
        {
            changecontent("availability",avail_instock);
            return true;
        }
    }
}

function add_wishlist() {

    if ("" == "1") {

        //window.open('addtowishlist.asp?itemid=936','popup','height=300,width=550,location=no,scrollbars=no,menubars=no,toolbars=no,resizable=yes');

        var src = "addtowishlist.asp?itemid=936";
        var intHeight, intWidth;
        intHeight = 480;
        intWidth = 495;

        if (document.body.clientWidth < 767) {
            intHeight = 460;
            intWidth = 300;
        }
        jQuery.modal('<iframe src="' + src + '" height="' + intHeight + '" width="' + intWidth + '" style="border:0">', {
            closeClass: 'modalCloseImg',
            closeHTML: '<a href="#">Close</a>',
            containerCss:{
                backgroundColor:"#fff",
                borderColor:"#fff",
                height:intHeight,
                padding:0,
                width:(intWidth+5)
            },
            overlayClose:true,
            onShow: function(dialog){
                dialog.wrap.css('overflow','hidden');
            }
        });
    }
    else {
        document.add.action = "add_cart.asp?action=addWishList";
        document.add.submit();
    }
}

function add_giftregistry() {
    document.add.action = "add_cart.asp?action=addGiftRegistry";
    document.add.submit();
}

function ask_check_and_add(formx,IsAddToCart,replaceitemname)
{
    if (confirm(replaceitemname + '\n\n'))
        check_and_add(formx,IsAddToCart);

}

function check_and_add(formx,IsAddToCart)
{
    var reqOption = validateReqOption(formx);
    if (reqOption != null) {
        //alert("Please select all required options.");
        reqOptionBar.alert('Please select all required options.');
        varx1 = '[name="' + reqOption.name + '"]';
        jQuery(varx1).closest('.opt-regular').addClass('option-required');
        return;
    }

    if (document.add.std_price==null)
    {
        document.add.submit();
    }
    else
    {
        var readytoadd=validateValues(formx,1)
        if (readytoadd==true)
        {
            document.add.submit();
        }
    }
}

function add_wishlistcustom(strListType, intListId, strListName)
{
    document.add.wishListCustomType.value = strListType;
    document.add.wishListCustomId.value = intListId;
    document.add.wishListCustomname.value = strListName;
    document.add.action = "add_cart.asp?action=addWishList";
    document.add.submit();
}
            </script>
            <script type="text/javascript">
    var currency_symbol="$";
    var prod_decimal_places="2";
    validateValues(document.add,1);
    window.setTimeout("image_click(1)", 1000);
            </script>
            <script type="text/javascript">
    // Option Rules script
    function selectOption(objElement) {

        var strElementName = "";
        var strElementType = "";
        var intHasRules = "0";
        objElement = null;

        if (intHasRules != "1") {
            return;
        }

        add_overlay("divOptionsBlock", 1);
        var url = 'prod_options.asp?ajax=1&action=buildOptions&strElementType=' + escape(strElementType) + '&strElementName=' + escape(strElementName) + '&no-cache=' + Math.random();

        jQuery.ajax({
            url: url,
            dataType: 'html',
            type: 'POST',
            data: jQuery(add).serialize(),
            cache: false,
            success: function (strResult) {
                //Keep the values for the text options
                var textCollection = jQuery("#divOptionsBlock").find("input:text");

                jQuery("#divOptionsBlock").html(strResult);

                if (textCollection.length > 0)
                    for (var i = 0; i < textCollection.length; i++) {
                        jQuery("[name='"+textCollection[i].name+"']").val(textCollection[i].value);
                    }

                jQuery('#add input[type="radio"]:checked').each(function() {
                    jQuery(this).next('div').addClass('radio-selected');
                });
            },
            complete: afterOptionSelection,
            error: reportError
        });
    }

    function afterOptionSelection(req) {
        remove_overlay("divOptionsBlock");
        return;
    }

    function getElementById_s(strId) {
        var obj = null;
        if (document.getElementById) {
            obj = get_Element(strId);
        } else if (document.all) {
            obj = document.all[strId];
        }
        return obj;
    }

    function remove_overlay(panel) {
        var objBody = getElementById_s('overlay_' + panel);
        if (objBody != null && objBody != 'null' && objBody != undefined && objBody != 'undefined')
            objBody.style.display = 'none';
    }

    function add_overlay(panel, loading) {
        var objBody = getElementById_s(panel);
        var objOverlay = document.createElement("div");
        if (!objBody) return;
        objOverlay.setAttribute('id', 'overlay_' + panel);
        objOverlay.className = 'overlay';
        objOverlay.style.position = 'absolute';
        objOverlay.style.textAlign = 'center';
        objOverlay.style.width = objBody.clientWidth + "px";
        objOverlay.style.height = objBody.clientHeight + "px";
        //alert(objOverlay.style.height);
        objBody.insertBefore(objOverlay, objBody.firstChild);
        objOverlay.style.display = 'block';

        if (loading == 1) {
            get_Element('overlay_' + panel).innerHTML = '<table border=0 width=100% height=100%><tr><td style="text-align: center;"><img src="assets/templates/common-html5/images/loading.gif"></td></tr></table>';
        }
        else {
            get_Element('overlay_' + panel).innerHTML = '<table border=0 width=100% height=100%><tr><td align="center"></td></tr></table>';
        }
    }

    function get_Element(i) {
        return document.getElementById(i) || document.getElementsByName(i).item(0);
    }

    function reportError(jqXHR, textStatus) {
        remove_overlay("divOptionsBlock");

        //jqXHR.responseText
        if (jqXHR.status > 0)
            alert("Error processing request " + jqXHR.status + " - " + textStatus);
    }

    selectOption(null);

    function countChars(countfrom,displayto,countmax) {
        var str = document.getElementById(countfrom).value;
        var CountBreaks = str.split("\n").length - 1;

        document.getElementById(countfrom).maxLength = (Number(countmax) + Number(CountBreaks*1));
        var len = countmax - (document.getElementById(countfrom).value.length);
        if (len < 0)
        {
            document.getElementById(countfrom).value = str.substring(0, str.length - 1)
            return false;
        }
        document.getElementById(displayto).innerHTML = len;
    }

    function ReviewSortingChange(){
        var url = '';
        var params = '';

        params = 'itemid=' + add.item_id.value;
        params += '&reviewsorting=' + add.review_sorting.options[add.review_sorting.selectedIndex].value;
        params += '&categoryid=' + add.category_id.value;
        url = 'reviewSorting_ajax.asp?' + params + '&no-cache='+Math.random();


        jQuery.ajax({
            url: url,
            dataType: 'html',
            type: 'GET',
            cache: false,
            success: function (strResult) {
                if (strResult != '')
                {
                    jQuery('#reviewsBlock').fadeOut("slow", function() {
                        strResult = '<div class="reviewsBlock" style="display:none;"  id="reviewsBlock" itemprop="review" itemscope itemtype="http://schema.org/Review">' + strResult + '</div>'
                        jQuery('#reviewsBlock').replaceWith(strResult);
                        jQuery('#reviewsBlock').fadeIn("slow");
                    });
                }


            }
            //error: alert("error");
        });

    }


    function ReviewAllShow(lnk){
        if (add.review_sorting != null && add.review_sorting != 'null' && add.review_sorting != undefined && add.review_sorting != 'undefined')
        {
            sort = add.review_sorting.options[add.review_sorting.selectedIndex].value;
            lnk = lnk + "&sort=" + add.review_sorting.options[add.review_sorting.selectedIndex].value;
        }
        popup(lnk,550,400,false);
    }


            </script>



        </div>
    </div>
    <div class="footerbox-wrapper">
        <div class="footerbox">
            <div id="footernav">
                <div class="boxed">
                    <ul class="pages">
                        <li>
                            <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>OUR STORY</span>
                            <ul>
                                <li><a href="meet-our-team.html">Meet Our Team</a></li>
                                <li><a href="mission_statement.html">Mission Statement</a></li>
                                <li><a href="employment.html">Employment</a></li>
                                <li class="news"><a href="blog.asp">Blog</a></li>
                            </ul>
                        </li>
                        <li>
                            <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>KNOWLEDGE</span>
                            <ul>
                                <li><a href="Classes_c_92.html">Classes</a></li>
                                <li><a href="Books_c_93.html">Books</a></li>
                                <li><a href="What-is-Aromatherapy_ep_46.html">What is Aromatherapy</a></li>
                                <li><a href="What-is-an-Essential-Oil_ep_47.html">What is an Essential Oil</a></li>
                                <li><a href="therapeutic-grade-defined_ep_50.html">Therapeutic Grade Defined</a></li>
                                <li><a href="Storing-Essential-Oils_ep_48.html">Storing Essential Oils</a></li>
                                <li><a href="Uses-of-Essential-Oils_ep_44.html">Uses of Essential Oils</a></li>
                            </ul>
                        </li>
                        <li>
                            <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>CUSTOMER SERVICE</span>
                            <ul>
                                <li><a href="shipping_information.html">Shipping Information</a></li>
                                <li><a href="return_policy.html">Return Policy</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="Gift-Certificates_p_12.html">Gift Certificates</a></li>
                                <li><a href="crm.asp?action=contactus">Contact Us</a></li>
                                <li><a href="store_hours.html">Store Hours</a></li>
                            </ul>
                        </li>
                        <li>
                            <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>ACCOUNT</span>
                            <ul>
                                <li><a href="myaccount.asp">Login</a></li>
                                <li><a href="myaccount.asp">Dashboard</a></li>
                                <li><a href="ordertracking.asp">Recent Orders</a></li>
                                <li><a href="view_wishlist.asp">Wish List</a></li>
                                <li><a href="gc_view.asp">Gift Certificates</a></li>

                            </ul>
                        </li>
                        <li>
                            <span><i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i>WHOLESALE</span>
                            <ul>
                                <li><a href="https://wholesale.allthingsjill.ca">Become a Wholesaler</a></li>
                                <li><a href="https://wholesale.allthingsjill.ca">Wholesale Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="footerbar">
                <div class="boxed">
                    <a class="phone" href="callto:+14034530313"><i class="fa fa-phone-square" aria-hidden="true"></i> 403-453-0313</a>
                    <ul class="social">
                        <li><a href="http://www.facebook.com/apothecary.inglewood" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> <span>Facebook</span></a></li>
                        <li><a href="http://twitter.com/ApothecaryYYC" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>
                        <li><a href="http://www.instagram.com/apothecaryyyc/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> <span>Instagram</span></a></li>
                    </ul>
                    <a class="newsletter" href="https://www.the-apothecary.ca/Join-the-AromaticLife-_ep_59-1.html"><i class="fa fa-paper-plane" aria-hidden="true"></i> <strong>SUBSCRIBE</strong> TO THE <span>#AromaticLife</span> NEWSLETTER</a>
                </div>
            </div>
        </div>
    </div></div>
    </div>

</body>
