@model Vegan.Entities.Care.ShaveBeard

@{
    ViewBag.Title = "DetailsShaveBeard";
}

<h2>DetailsShaveBeard</h2>

<div>
    <h4>ShaveBeard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd>
            <img src=" @Html.DisplayFor(model => model.ImageURL)" width='100px' height='100px' alt=" @Html.DisplayFor(model => model.Title)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Directions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Directions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfIngredient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfIngredient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueOfIngredient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueOfIngredient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Information)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditShaveBeard", new { productId = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
