@model IEnumerable<Vegan.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";


}




<div class="wrapper ">



    <div class="panel-header panel-header-sm">
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Products Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive container">
                            <div class="text-right">
                                @Html.ActionLink("Add Product", "AddProduct")<span style="color:orangered"></span>
                                <hr />
                            </div>
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ImageURL)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Price)
                                        </th>
                                        <th class="text-right">
                                            Action
                                        </th>
                                    </tr>
                                </thead>



                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                <img src="@item.ImageURL" width="70" height="70" alt="@item.Title" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                € @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td class="text-right">



                                                @Html.ActionLink("Edit", "EditProduct", new { productId = item.Id })<span style="color:orangered"></span>
                                                <hr />
                                                @Html.ActionLink("User View", "DetailsProduct", new { productId = item.Id })<span style="color:orangered"></span>
                                                <hr />
                                                @Html.ActionLink("Delete", "DeleteProduct", new { productId = item.Id })<span style="color:orangered"></span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

